* {
  box-sizing: border-box;
}
h1 {
  padding-bottom: 0px;
  margin: 0 auto;
}
h3 {
  padding-top: 0px;
  padding-bottom: 10px;
  margin: 0 auto;
  font-style: italic;
}
body {
  background-color: darkgray;
}
.container {
  max-width: 800px;
  margin: auto;
  background-color: white;
  padding: 20px;
  overflow: auto;
}
.left-column {
  float: left;
  width: 70%;
  padding: 10px;
}
.right-column {
  float: right;
  width: 30%;
  padding: 10px;
}
.story {
  background: lightgray;
  padding: 0 20px 20px 20px;
}
#main {
  font-size: 26px;
}
#first {
  font-size: 15px;
}
.headline {
  font-size: 20px;
  margin: 0 auto;
  padding-top: 20px;
}
.byline {
  font-size: 13px;
  color: gray;
  text-transform: uppercase;
  margin: 0 auto;
}
.paragraph {
  margin: 0 auto;
}
.list {
  border-bottom: 2px solid black;
  padding-top: 25px;
  padding-bottom: 0;
  font-style: normal;
}
a {
  color: #BF5700;
}
